__pycache__/
build/
dist/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
ffx_phyre_tool_config.json
ffx_phyre_tool_recent_files.json
Inno Compiled/

# Ignore executables and dynamic libraries inside tools directory
tools/**/*.exe
tools/**/*.dll
tools/**/*.so
tools/**/*.dylib
